.vscode/
KTTTApp/bin/
KTTTApp/obj/
KTTTAppTest/bin/
KTTTAppTest/obj/
KTTTAppTest/TestResults/
KTTTApp/presence.db
KTTTDataConnector/bin/
KTTTDataConnector/obj/
KTTTDataConnectorTest/bin/
KTTTDataConnectorTest/obj/
KTTTDataConnectorTest/TestResults/
KTTTDataInterface/bin/
KTTTDataInterface/obj/
KTTTSQLiteConnector/bin/
KTTTSQLiteConnector/obj/
KTTTEntityFwConnector/bin/
KTTTEntityFwConnector/obj/
