.vscode/
KTTTApp/bin/
KTTTApp/obj/
KTTTAppTest/bin/
KTTTAppTest/obj/
KTTTAppTest/TestResults/
KTTTApp/presence.db
KTTTDataConnector/bin/
KTTTDataConnector/obj/
KTTTDataInterface/bin/
KTTTDataInterface/obj/
KTTTSQLiteConnector/bin/
KTTTSQLiteConnector/obj/
